<%- include('include/Head_admin.ejs')%>

<div class="column m-0">
    <header>
        <div class="box box_header">
            <h3 class="title is-3">Configuración de E-mail</h3>
            <div class="has-text-left container_User">
                <figure class="image_User is-48x48">
                    <img src="/images/usuario_icon.png">
                </figure>
                <span class="subtitle is-5">ADMIN</span>
            </div>
        </div>
    </header>
    
    <!-- Configurar email -->
    <main>
        <div class="columns">
            <div class="column columna_marca">
                <a href="/admin/configurar_email/preguntas"><button  class="button is-large is-fullwidth button_brand">Luuna</button></a>
                <button  class="button is-large is-fullwidth button_brand">NOOZ</button>
                <button  class="button is-large is-fullwidth button_brand">MAPPA</button>
                <button  class="button is-large is-fullwidth button_brand">ergo</button>
                <button  class="button is-large is-fullwidth button_brand">nubed</button>
                <button  class="button is-large is-fullwidth button_brand">Homeware</button>
            </div>
            <div class="column columna_marca">
                <button  class="button is-large is-fullwidth button_brand">GRIT</button>
                <button  class="button is-large is-fullwidth button_brand">BRUGMANN</button>
                <button  class="button is-large is-fullwidth button_brand">Nativ</button>
                <button  class="button is-large is-fullwidth button_brand">charter</button>
                <button  class="button is-large is-fullwidth button_brand">Unfold</button>
            </div>
          </div>
          <button class="preguntas-main__button">
            <img class="preguntas-main__button" src="/images/boton.png" alt="Texto alternativo">
        </button>
    </main>
</div>

<%- include('include/Foot_admin.ejs')%>