<%- include('include/Head_admin.ejs')%>

<div class="column m-0">
    <header>
        <div class="box box_header">
            <h3 class="title is-3">Hola Admin</h3>
            <div class="has-text-left container_User">
                <figure class="image_User is-48x48">
                    <img src="/images/usuario_icon.png">
                </figure>
                <span class="subtitle is-5">ADMIN</span>
            </div>
        </div>
    </header>

    <!-- Vista Home -->
    <main>
        <!-- Recuadro Analiticos -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                      <p class="image is-128x128">
                        <img src="/images/analiticos_home_icon.png">
                      </p>
                    </figure>
                    <div class="media-content">
                      <div class="content home_container">
                        <div class="title is-5 text_container">
                          <u><strong class="title is-3"><a href="./analitico.html">Analítico</a></strong></u>
                          <br>
                          <p class="title is-5">Hecha un vistazo, a las gráficas que en tiempo real, para obtener una mejor perspectiva de las ventas.</p>
                        </div>
                        <a href="./analitico.html">
                            <button class="boton_derecho" type="submit">
                                Ir a analítico
                            </button>
                        </a>
                      </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Recuadro Reseña -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                        <img src="/images/resenia_home_icon.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content home_container">
                        <div class="title is-5 text_container">
                            <u><strong class="title is-3"><a href="./resenia.html">Reseña</a></strong></u>
                            <br>
                            <p class="title is-5">Contempla todas las reseñas hechas por los compradores.</p>
                        </div>
                        <a href="./resenia.html">
                            <button class="boton_derecho" type="submit">
                                Ir a reseña
                            </button>
                        </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Recuadro Configurar e-mail -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                        <img src="/images/configurar_email_home_icon.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content home_container">
                        <div class="title is-5 text_container">
                            <u><strong class="title is-3"><a href="./configurar_email.html">Configurar e-mail</a></strong></u>
                            <br>
                            <p class="title is-5">Revisa todas las plantillas que se tiene para las diferentes marcas, además, agrega preguntas de satisfacción.</p>
                        </div>
                        <a href="./configurar_email.html">
                            <button class="boton_derecho" type="submit">
                                Ir a configurar e-mail
                            </button>
                        </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Recuadro Usuarios -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                        <img src="/images/usuarios_icon_home.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content home_container">
                        <div class="title is-5 text_container">
                            <u><strong class="title is-3"><a href="./usuarios.html">Usuarios</a></strong></u>
                            <br>
                            <p class="title is-5">Revisa todas los usuarios que se encuentran activos dentro del sistema, tanto personal de administración, CRM como analíticos.</p>
                        </div>
                        <a href="./usuarios.html">
                            <button class="boton_derecho" type="submit">
                                Ir a usuarios
                            </button>
                        </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Recuadro Dar de alta a usuarios -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                        <img src="/images/dar_de_alta_usuarios_home_icon.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content home_container">
                        <div class="title is-5 text_container">
                            <u><strong class="title is-3"><a href="./dar_de_alta_usuarios.html">Dar de alta a usuarios</a></strong></u>
                            <br>
                            <p class="title is-5">Registra un nuevo usuario en el sistema, define el rol y asigna los roles correspondientes.</p>
                        </div>
                        <a href="./dar_de_alta_usuarios.html">
                            <button class="boton_derecho" type="submit">
                                Ir a dar de alta a usuarios
                            </button>
                        </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Recuadro Roles -->
        <div class="container is-max-widescreen">
            <div class="box mt-6">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                        <img src="/images/roles_home_icon.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content home_container">
                        <div class="title is-5 text_container">
                            <u><strong class="title is-3"><a href="./roles.html">Roles</a></strong></u>
                            <br>
                            <p class="title is-5">Seleccionar rol para modificar los privilegios de los roles.</p>
                        </div>
                        <a href="./roles.html">
                            <button class="boton_derecho" type="submit">
                                Ir a roles
                            </button>
                        </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
</div>

<%- include('include/Foot_admin.ejs')%>