<%- include('include/Head_admin.ejs')%>

<div class="column m-0">
    <header>
        <div class="box box_header">
            <h3 class="title is-3">Roles - CRM</h3>
            <div class="has-text-left container_User">
                <figure class="image_User is-48x48">
                    <img src="../Public/images/usuario_icon.png">
                </figure>
                <span class="subtitle is-5">ADMIN</span>
            </div>
        </div>
    </header>
    
    <!-- Configurar rol -->
    <main>
        <div class="is-max-widescreen">
            <div class="box mt-6 container-usuarios">
                <article class="media">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Privilegio</th>
                                <th>Descripción</th>
                                <th>Checkbox</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>Privilegio 1</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 2</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 3</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 4</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 5</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 6</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 7</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Privilegio 8</th>
                            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                            <td class="boton_privilegios">
                                <label class="checkbox-privilegios">
                                    <input type="checkbox">
                                </label>
                            </td>
                        </tr>
                    </table>
                </article>
            </div>
        </div>
    </main>
</div>

<%- include('include/Foot_admin.ejs')%>