<%- include('include/Head_admin.ejs')%>

<div class="column m-0">
    <header>
        <div class="box box_header">
            <h3 class="title is-3">Usuarios</h3>
            <div class="has-text-left container_User">
                <figure class="image_User is-48x48">
                    <img src="/images/usuario_icon.png">
                </figure>
                <span class="subtitle is-5">ADMIN</span>
            </div>
        </div>
    </header>
    
    <!-- Configurar email -->
    <main>
        <!-- Recuadro Usuarios -->
        <div class="is-max-widescreen">
            <div class="box mt-6 container-usuarios">
                <article class="media">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tr>
                                <th>Axel Camacho Villafuerte</th>
                                <td>axelcv@gmail.com</td>
                                <td>CRM</td>
                                <td>
                                    <button class="boton_modificar" type="submit">
                                        Modificar
                                    </button>
                                </td>
                                <td>
                                    <button class="boton_eliminar" type="submit">
                                        <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                    </button>
                                </td>
                          </tr>
                            <tr>
                                <th>Cristian Chavez Guía</th>
                                <td>cristianCG@gmail.com</td>
                                <td>Administrador</td>
                                <td>
                                    <button class="boton_modificar" type="submit">
                                        Modificar
                                    </button>
                                </td>
                                <td>
                                    <button class="boton_eliminar" type="submit">
                                        <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>XXXXXXXXXXXXXXXXXXXX</th>
                                <td>XXXXXXXXXXXXXXXXXXXX</td>
                                <td>XXXX</td>
                                <td>
                                    <button class="boton_modificar" type="submit">
                                        Modificar
                                    </button>
                                </td>
                                <td>
                                    <button class="boton_eliminar" type="submit">
                                        <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>XXXXXXXXXXXXXXXXXXXX</th>
                                <td>XXXXXXXXXXXXXXXXXXXX</td>
                                <td>XXXX</td>
                                <td>
                                    <button class="boton_modificar" type="submit">
                                        Modificar
                                    </button>
                                </td>
                                <td>
                                    <button class="boton_eliminar" type="submit">
                                        <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                    </button>
                                </td>
                                <tr>
                                    <th>XXXXXXXXXXXXXXXXXXXX</th>
                                    <td>XXXXXXXXXXXXXXXXXXXX</td>
                                    <td>XXXX</td>
                                    <td>
                                        <button class="boton_modificar" type="submit">
                                            Modificar
                                        </button>
                                    </td>
                                    <td>
                                        <button class="boton_eliminar" type="submit">
                                            <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>XXXXXXXXXXXXXXXXXXXX</th>
                                    <td>XXXXXXXXXXXXXXXXXXXX</td>
                                    <td>XXXX</td>
                                    <td>
                                        <button class="boton_modificar" type="submit">
                                            Modificar
                                        </button>
                                    </td>
                                    <td>
                                        <button class="boton_eliminar" type="submit">
                                            <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>XXXXXXXXXXXXXXXXXXXX</th>
                                    <td>XXXXXXXXXXXXXXXXXXXX</td>
                                    <td>XXXX</td>
                                    <td>
                                        <button class="boton_modificar" type="submit">
                                            Modificar
                                        </button>
                                    </td>
                                    <td>
                                        <button class="boton_eliminar" type="submit">
                                            <img src="/images/bote_basura_icon.png" alt="Eliminar">
                                        </button>
                                    </td>
                                </tr>
                          </tr>
                    </table>
                </article>
            </div>
        </div>

    </main>
</div>

<%- include('include/Foot_admin.ejs')%>