/*Estilos para el menu*/
aside {
    background-color: #61366e;
    height: 100vh;
    position: fixed; /*Fijar el pie de pagina en la parte inferior*/
    margin-top: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 12px;
}

.image_User {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
}

.elemento-fondo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.alinear-izquierda {
    position: relative;
    left: 0;
}

.alinear-derecha {
    position: relative;
    right: 0;
}

.box_header {
    background-color: #fff;
    margin-left: -50px;
    height: 10vh;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
}

.container_User {
    display: flex;
    justify-content: space-between;
    /*La imagen no esta adecuada*/
}

/*Estilos para HTML Home*/
.home_container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.text_container {
    padding: 0px 50px 0px 0px;
}
  
.boton_derecho {
    margin-top: 40px;
    margin-left: auto; /*Mueve el botón a la derecha*/
    height: 50px;
    width: 150px;
    background-color: #C7A0CE;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.boton_derecho:hover {
    background-color: #c17bcf;
}

/* Estilos para HTML Configurar Email*/
.button_brand{
  margin: 50px 0px; 
  background-color: #fff;
}

/*Estilos para HTML Usuarios*/
.boton_modificar {
    height: 50px;
    width: 100px;
    margin-left: auto;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.boton_modificar:hover {
  background-color: #61366E;
  color: #fff;
}

.boton_eliminar {
    height: 50px;
    width: 60px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.boton_eliminar:hover {
    background-color: #FF3131;
    color: #fff;
}

/*Estilos para HTML Dar de alta usuario*/
.input_usuarios {
    height: 40px;
}

.container_boton_dar_alta_usuario {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 20px 0px;
}

.boton_dar_alta_usuario {
  color: white;
  margin-right: auto;
  margin-top: 40px;
  height: 50px;
  width: 150px;
  background-color: #61366E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.boton_dar_alta_usuario:hover {
    background-color: #402348;
    color: #fff;
}

.ocultar{
  visibility: hidden;
}

/*Estilos para el HTML Roles*/
.boton_privilegios{
  width: 60px;
}

.boton_roles {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: auto;
    background-color: #fff;
}

.boton_roles:hover {
    background-color: #7b7b7b;
    color: #fff;
}

.image_rol {
    margin-top: 100px;
    height: 400px;
    width: 500px;
    margin: auto;
}

/*Estilos para HTML Roles - Administrador*/
.checkbox-privilegios input[type="checkbox"] {
  width: 50px; /* Ancho personalizado */
  max-width: 50%;
  height: 50px; /* Alto personalizado */
  cursor: pointer;
  align-self: top;
  vertical-align: middle;
}

.rol_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

/*Estilos para el HTML de preguntas*/
.barra_separacion{
  margin-top: 140px;
  width: 5px; /* Ajusta el ancho de la barra */
  background-color: black;
  height: 100vh; /* Altura completa de la página */
}

.preguntas_main {
  color: #95785E;
}

p.nombre_marca {
  margin-top: 50px;
  font-size: 30px;
}

input.nombre_marca {
  color: #95785E;
  font-size: 30px;
  width: 10%;
}

.pregunta_title {
  margin-top: 50px;
  font-size: 25px;
}

.formulario {
  margin-top: 50px;
  font-size: 25px;
  margin-left: 50px;
}

.select_tipo_pregunta {
  font-size: 15px;
  margin-left: 10px;
  width: 200px;
  height: 20px;
}

select.select_tipo_pregunta {
  background-color: #D3C0CD;
}

.preguntas_main_text-input {
  margin-top: 10px;
  width: 300px; /* Set the desired width */
  height: 50px;
  background-color: #D3C0CD;
}
.preguntas_main_block {
  background-color: #D3C0CD;
}

.preguntas_main_block::placeholder{
  color: #3c3c3c;
}

.preguntas_main_button {
  margin-bottom: -20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.boton_preguntas_guardar {
  font-size: 15px;
  width: 100px;
  height: 50px;
  background-color: #D3C0CD;
  border: none;
  cursor: pointer;
}

.boton_preguntas_guardar:hover {
  background-color: #402348;
  color: #fff;
}

span.icono_preguntas{
  margin-left: 10vw;
}

span.icono_preguntas > *{
  margin-left: 1rem;
}

span.icono_preguntas > *:hover {
  color: black;
}

/*Estilos para HTML Configurar e-mail en marca*/
.columna_marca{
margin-top: 50px;
padding: 0px 30px;
}

/*Estilos para HTML Analíticos*/
.grafica{
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 50px;
  margin: 30px;
  border-radius: 30px;
}

.data_input{
  text-align: right;
  margin: 10px;
}

.analitico_estrellas{
  background-color: #ffffff;
  border-radius: 30px;
}

.analitico_resenas h5{
  font-size: 25px;
}

.emoji_estrella{
  font-size: 20px;
  margin-top: 10px;
}

.clasificacion{
  text-align: center;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 30px;
  font-size: 35px;
}

.producto{
  background-color: black;
  color: white;
}
.encuestas_contestadas{
  background-color: #D3C0CD;
  color: white;
}

/*Estilos para el HTML de reseñas*/
.checkbox-resenias input[type="checkbox"] {
  width: 50px; /* Ancho personalizado */
  max-width: 5%;
  height: 50px; /* Alto personalizado */
  cursor: pointer;
  align-self: top;
  vertical-align: middle;
}

h1.marca{
  margin: 25px;
  margin-left: auto;
  text-align: right;
}