body {
    background-color: #F1F2F2;
}

.text-wh {
    color: #fff;
}

aside {
    background-color: #61366E;
    height: 120%;
    position: fixed; /*Fijar el pie de pagina en la parte inferior*/
    margin-top: 10px;
}

figure {
    margin: auto;
}

.image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 12px;
}

.image-User {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
}

.logout {
    margin-top: 250px;
}

.box-header {
    background-color: #fff;
    margin-left: -50px;
    height: 10vh;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
}

.container-header {
    position: fixed; /*Fijar el pie de pagina en la parte inferior*/
}

.usuario-icon {
    display: flex;
    justify-content: space-between;
    /*La imagen no esta adecuada*/
}

.home_container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.usuarios-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.text-home {
    padding: 0px 50px 0px 0px;
}
  
.boton-derecho {
    margin-top: 40px;
    margin-left: auto; /*Mueve el botón a la derecha*/
    height: 50px;
    width: 150px;
    background-color: #C7A0CE;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.boton-derecho:hover {
    background-color: #c17bcf;
}

/* Estilos para HTML Configurar Email*/
.buton-marca {
    height: 50px;
    width: 400px;
    margin: 50px 50px 50px 50px;
    background-color: #002355;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buton-marca:hover {
    background-color: #003f7f;
}

/*Estilos para HTML Usuarios*/
/*Estilos de boton usuarios*/
.boton-modificar {
    margin-top: 60px;
    height: 50px;
    width: 100px;
    margin-left: auto;
    background-color: #fff;
    border: 3px solid #61366E;
    cursor: pointer;
    text-align: center;
}

.boton-Eliminar {
    margin-top: 60px;
    height: 50px;
    width: 60px;
    background-color: #fff;
    border: 3px solid #FF3131;
    cursor: pointer;
    text-align: center;
}

.boton-modificar:hover {
    background-color: #61366E;
    color: #fff;
}

.boton-Eliminar:hover {
    background-color: #FF3131;
    color: #fff;
}

/*Estilos para HTML Dar de alta usuario*/
/*Estilos contenedor de container-dar-de-alta*/
.container-dar-de-alta {
    margin-top: 40px;
}

.label-dar-alta-usuario {
    font-size: 20px;
}
/*Estilos para selector de rol*/
.select-rol {
    width: 1255px;
    height: 40px;
}

.input-usuarios {
    width: 1255px;
    height: 40px;
}

.container-boton-dar-alta-usuario {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 20px 0px;
}

.boton-dar-alta-usuario {
    margin-right: auto;
    margin-top: 40px;
    height: 50px;
    width: 150px;
    background-color: #61366E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/*Estilos para el HTML Roles*/
/*Estilos para el boton de agregar rol*/
.boton-roles {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: auto;
    background-color: #fff;
}

.boton-roles:hover {
    background-color: #7b7b7b;
    color: #fff;
}

.image-rol {
    margin-top: 100px;
    height: 400px;
    width: 500px;
    margin: auto;
}

/*Estilos para HTML Roles - Administrador*/
.checkbox-privilegios input[type="checkbox"] {
    width: 50px; /* Ancho personalizado */
    height: 50px; /* Alto personalizado */
    margin-right: 50px;
    cursor: pointer;
}

.rol_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}