body {
    background-color: #F1F2F2;
}

a.menu-highlight:hover{
    background-color: #402348
}

.text-wh {
    color: #fff;
}

aside {
    background-color: #61366E;
    height: 120%;
    position: fixed; /*Fijar el pie de pagina en la parte inferior*/
    margin-top: 10px;
}

figure {
    margin: auto;
}

.image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 12px;
}

.image-User {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
}

.logout {
    margin-top: 250px;
}

.box-header {
    background-color: #fff;
    margin-left: -50px;
    height: 10vh;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
}

.container-header {
    position: fixed; /*Fijar el pie de pagina en la parte inferior*/
}

.usuario-icon {
    display: flex;
    justify-content: space-between;
    /*La imagen no esta adecuada*/
}

.home_container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.usuarios-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.text-home {
    padding: 0px 50px 0px 0px;
}
  
.boton-derecho {
    margin-top: 40px;
    margin-left: auto; /*Mueve el botón a la derecha*/
    height: 50px;
    width: 150px;
    background-color: #C7A0CE;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.boton-derecho:hover {
    background-color: #c17bcf;
}

/* Estilos para HTML Configurar Email*/
.buton-marca {
    height: 50px;
    width: 400px;
    margin: 50px 50px 50px 50px;
    background-color: #002355;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buton-marca:hover {
    background-color: #003f7f;
}

/*Estilos para HTML Usuarios*/
/*Estilos de boton usuarios*/
.boton-modificar {
    margin-top: 60px;
    height: 50px;
    width: 100px;
    margin-left: auto;
    background-color: #fff;
    border: 3px solid #61366E;
    cursor: pointer;
    text-align: center;
}

.boton-Eliminar {
    margin-top: 60px;
    height: 50px;
    width: 60px;
    background-color: #fff;
    border: 3px solid #FF3131;
    cursor: pointer;
    text-align: center;
}

.boton-modificar:hover {
    background-color: #61366E;
    color: #fff;
}

.boton-Eliminar:hover {
    background-color: #FF3131;
    color: #fff;
}

/*Estilos para HTML Dar de alta usuario*/
/*Estilos contenedor de container-dar-de-alta*/
.container-dar-de-alta {
    margin-top: 40px;
}

.label-dar-alta-usuario {
    font-size: 20px;
}
/*Estilos para selector de rol*/
.select-rol {
    width: 1255px;
    height: 40px;
}

.input-usuarios {
    width: 1255px;
    height: 40px;
}

.container-boton-dar-alta-usuario {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 20px 0px;
}

.boton-dar-alta-usuario {
    margin-right: auto;
    margin-top: 40px;
    height: 50px;
    width: 150px;
    background-color: #61366E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/*Estilos para el HTML Roles*/
/*Estilos para el boton de agregar rol*/
.boton-roles {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: auto;
    background-color: #fff;
}

.boton-roles:hover {
    background-color: #7b7b7b;
    color: #fff;
}

.image-rol {
    margin-top: 100px;
    height: 400px;
    width: 500px;
    margin: auto;
}

/*Estilos para HTML Roles - Administrador*/
.checkbox-privilegios input[type="checkbox"] {
    width: 50px; /* Ancho personalizado */
    height: 50px; /* Alto personalizado */
    margin-right: 50px;
    cursor: pointer;
}

.rol_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 20px;
}

.preguntas-main {
  color: #95785E;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.preguntas-main__preguntas{
  margin-top: 20px;
  color: #95785E;
}

.preguntas-main__button{
  width: 70px;
  border: none;
}

.preguntas-main{
}
.preguntas-main__text-input {
  margin-top: 10px;
  width: 300px; /* Set the desired width */
  height: 50px;
}
.preguntas-main__block{
  display: block;
}

.barra-separacion{
width: 5px; /* Ajusta el ancho de la barra */
background-color: black;
height: 100vh; /* Altura completa de la página */
}

.button-brand{
margin: 50px 0px; 
}

.columna-marca{
margin-top: 50px;
padding: 0px 30px;
}

.encuestas-respondidas{
height: 230px;
background-color: #D3C0CD;
color: #ffffff;
text-align: center;
font-size: 45px;
}

.por-marca{
background-color: #B19994;
height: 230px;
color: #ffffff;
text-align: center;
font-size: 45px;
}

.por-producto{
background-color: #937666;
height: 230px;
text-align: center;
color: #ffffff;
font-size: 45px;
}
.promedio-general{
background-color: #3D3A4B;
height: 230px;
text-align: center;
color: #ffffff;
font-size: 45px;
}

.distribucion-estrellas{
background-color: #ffffff;
height: 100%;
font-size: 20px;
}
.distribucion-estrellas h4{
font-size: 40px;
}

.estrella{
margin-top: 30px;
height: 35px;
}
.estrellas{
margin-right: 40px;
}
.distribucion{
margin-top: 10px;
margin-left: 80px;
margin-right: 100px; 
}
.grafica{
background-color: #ffffff;
border-radius: 5px;
margin-top: 50px;
}
hr{
border: 2px solid #000;
margin-top: 1px;
}

ul li:last-child {
  margin-top: 500px;
}

.checkbox-resenias{
  margin-top: 60px;
}

.h1-marca{
  margin: 25px;
  margin-left: auto;
  text-align: right;
}

.data-input{
  text-align: right;
  margin: 10px;
}

.grafica{
  background-color: #ffffff;
  border-radius: 30px;
  margin: 30px;
}

.analitico-estrellas{
  background-color: #ffffff;
  border-radius: 30px;
}

.analitico-resenas h5{
  font-size: 25px;
}

.emoji-estrella{
  font-size: 20px;
  margin-top: 10px;
}

.clasificacion{
  text-align: center;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 30px;
  font-size: 35px;
}

.producto{
  background-color: black;
  color: white;
}
.encuestas-contestadas{
  background-color: #D3C0CD;
  color: white;
}